<p id="notice"><%= notice %></p>

<p>
  <strong>Ticketname:</strong>
  <%= @ticket.ticketName %>
</p>

<p>
  <strong>Ticketdescription:</strong>
  <%= @ticket.ticketDescription %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
